* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: rgb(94, 64, 78); */
    background-color: rgb(115, 113, 114); 
    display: flex;
}

#part1 {
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2 {
    height: 100%;
    width: 68%;
    background-color: rgb(0, 208, 255);
    background-image: url(./kashi1.jpg);
    background-size: cover;
    background-position: center;
    transition: all ease 1s;
}

#part2:hover {
    transform: scale(0.8); /* Changed 'scale' to 'transform' for hover effect */
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(123,114,117,0.5);
}

#part3 {
    height: 100%;
    width: 7%;
    /* background-color: green; */
}

#text-div {
    /* height: 300px; */
    position: absolute;
    width: 400px;    
    /* background-color: red; */
    left: 7%; 
    top: 60%; 
    transform: translate(0, -50%);
}

#text-div h1 {
    font-size: 85px;
    font-family: 'Monument', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 78px;
    color: #fff;
    letter-spacing: 5px;
}

#btn {
    font-size: 18px; /* Added 'px' unit */
    font-weight: 700;
    border-radius: 3px;
    padding: 12px 20px;
    margin: 20px;
    border: none; 
    color: #fff;
    background-color: lightseagreen;
    transition: all ease 0.5s;
}

#btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0px #fff;
}

#small-img-div {
    height: 400px;
    width: 300px;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    background-image: url(./kashi2.jpg);
    background-size: cover;
    background-position: center;
}

#vertical-text {
    position: absolute;
    right: -47%;
    transform: rotate(90deg);
    top: 0%;
    transform-origin: 0% 0%;
}

#vertical-text h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Monument', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    letter-spacing: 15px;
    
}

#nav {
    position: absolute;
    align-items: center;
    width: 350px;
    display: flex;
    justify-content: space-between;
    left: 8%;   
    top: 7%;
}

#nav img {
    height: 60px;
    cursor: pointer;
}

#nav h5 {
    font-size: 20px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #fff;
}



